@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #004aad;
  --color-secondary: #0066ff;
  --color-tertiary: #99a0a3;
  --color-background: #ffffff;
}

a { 
  @apply text-primary;
}

a:hover {
  @apply border-b-2 border-primary;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
